/*shinobi*/
.shinobi .cg-wrap piece.j-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wH.svg') !important;
}
.shinobi .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wK.svg') !important;
}
.shinobi .cg-wrap piece.pm-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wB.svg') !important;
}
.shinobi .cg-wrap piece.pl-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wR.svg') !important;
}
.shinobi .cg-wrap piece.h-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-horsey.svg') !important;
}
.shinobi .cg-wrap piece.d-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-dragon2.svg') !important;
}
.shinobi mpiece.j-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/hawk.svg') !important;
}
.shinobi mpiece.j-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/hawk.svg') !important;
}
.shinobi mpiece.d-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/mono/dragon.svg') !important;
}

/*shogun*/
.shogun .cg-wrap piece.f-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-monk.svg') !important;
}
.shogun .cg-wrap piece.pn-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-kheshig.svg') !important;
}
.shogun .cg-wrap piece.pr-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bE.svg') !important;
}
.shogun .cg-wrap piece.pb-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bH.svg') !important;
}

.shogun .cg-wrap piece.f-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/shinobi/wM.svg') !important;
}
.shogun .cg-wrap piece.pn-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/orda/merida/wH.svg') !important;
}
.shogun .cg-wrap piece.pr-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wE.svg') !important;
}
.shogun .cg-wrap piece.pb-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wH.svg') !important;
}
/*hoppel poppel*/
.hoppel .cg-wrap piece.n-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/orda/merida/wA.svg') !important;
}
.hoppel .cg-wrap piece.n-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-archer.svg') !important;
}
.hoppel .cg-wrap piece.b-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/hoppel/animal/wB.svg') !important;
}
.hoppel .cg-wrap piece.b-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/hoppel/animal/bB.svg') !important;
}
.hoppel mpiece.n-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/archer.svg') !important;
}
/*orda*/
.orda .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}

/*synochess*/
.synochess .cg-wrap piece.r-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-rook.svg') !important;
}
.synochess .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-king.svg') !important;
}
.synochess .cg-wrap piece.a-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-captain.svg') !important;
}

/*makruk variants*/
.makruk8x8 cg-board {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.50/static/images/board/8x8wood2.jpg') !important;
}

.makruk .cg-wrap piece.r-piece.white, .sittuyin .cg-wrap piece.r-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/wR.svg') !important;
}
.makruk .cg-wrap piece.r-piece.black, .sittuyin .cg-wrap piece.r-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/bR.svg') !important;
}

.makruk .cg-wrap piece.n-piece.white, .sittuyin .cg-wrap piece.n-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/wN.svg') !important;
}
.makruk .cg-wrap piece.n-piece.black, .sittuyin .cg-wrap piece.n-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/bN.svg') !important;
}

.makruk .cg-wrap piece.k-piece.white, .sittuyin .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/wK.svg') !important;
}
.makruk .cg-wrap piece.k-piece.black, .sittuyin .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/bK.svg') !important;
}
.makruk .cg-wrap piece.p-piece.white, .sittuyin .cg-wrap piece.p-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/wP.svg') !important;
}
.makruk .cg-wrap piece.p-piece.black, .sittuyin .cg-wrap piece.p-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.10/static/images/pieces/merida/bP.svg') !important;
}

.makruk .cg-wrap piece.s-piece.white, .sittuyin .cg-wrap piece.s-piece.white, .asean .cg-wrap piece.b-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-yurt.svg') !important;
}
.makruk .cg-wrap piece.s-piece.black, .sittuyin .cg-wrap piece.s-piece.black, .asean .cg-wrap piece.b-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-yurt.svg') !important;
}
.makruk .cg-wrap piece.m-piece.white, .makruk .cg-wrap piece.m-piece.promoted.white, .sittuyin .cg-wrap piece.f-piece.white, .asean .cg-wrap piece.q-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/shinobi/wM.svg') !important;
}
.makruk .cg-wrap piece.m-piece.black, .makruk .cg-wrap piece.m-piece.promoted.black, .sittuyin .cg-wrap piece.f-piece.black, .asean .cg-wrap piece.q-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-monk.svg') !important;
}

.makruk mpiece.s-piece, .sittuyin mpiece.s-piece, .asean mpiece.b-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/yurt.svg') !important;
}
.makruk mpiece.m-piece, .sittuyin mpiece.f-piece, .asean mpiece.q-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/monk.svg');
}
/*orda mirror*/
.ordamirror .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.15/static/images/pieces/merida/wK.svg') !important;
}
.ordamirror .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}
.ordamirror .cg-wrap piece.f-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-eagle.svg') !important;
}
.ordamirror .cg-wrap piece.f-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.15/static/images/pieces/empire/wE.svg') !important;
}
/*empire*/
.empire .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}
/*shogi*/
.shogi .orientation-white.cg-wrap piece.p-piece.black, .shogi .pocket.top piece.p-piece.black, .dobutsu .orientation-white.cg-wrap piece.c-piece.black, .dobutsu .pocket.top piece.c-piece.black, .orientation-sente .gote.pawn, .spare-top .gote.pawn {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1FU-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pp-piece.black, .shogi .pocket.top piece.pp-piece.black, .dobutsu .orientation-white.cg-wrap piece.pc-piece.black, .dobutsu .pocket.top piece.pc-piece.black, .orientation-sente .gote.tokin, .spare-top .gote.tokin {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1TO-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.b-piece.black, .shogi .pocket.top piece.b-piece.black, .orientation-sente .gote.bishop, .spare-top .gote.bishop {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-bright.svg') !important;
}
.dobutsu .orientation-white.cg-wrap piece.e-piece.black, .dobutsu .pocket.top piece.e-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-dobutsu-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pb-piece.black, .shogi .pocket.top piece.pb-piece.black, .orientation-sente .gote.horse, .spare-top .gote.horse {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1UM-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.n-piece.black, .shogi .pocket.top piece.n-piece.black, .orientation-sente .gote.knight, .spare-top .gote.knight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KE-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pn-piece.black, .shogi .pocket.top piece.pn-piece.black, .orientation-sente .gote.promotedknight, .spare-top .gote.promotedknight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NK-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.r-piece.black, .shogi .pocket.top piece.r-piece.black, .orientation-sente .gote.rook, .spare-top .gote.rook {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-bright.svg') !important;
}
.dobutsu .orientation-white.cg-wrap piece.g-piece.black, .dobutsu .pocket.top piece.g-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-dobutsu-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pr-piece.black, .shogi .pocket.top piece.pr-piece.black, .orientation-sente .gote.dragon, .spare-top .gote.dragon {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1RY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.l-piece.black, .shogi .pocket.top piece.l-piece.black, .orientation-sente .gote.lance, .spare-top .gote.lance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pl-piece.black, .shogi .pocket.top piece.pl-piece.black, .orientation-sente .gote.promotedlance, .spare-top .gote.promotedlance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.s-piece.black, .shogi .pocket.top piece.s-piece.black, .orientation-sente .gote.silver, .spare-top .gote.silver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GI-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.ps-piece.black, .shogi .pocket.top piece.ps-piece.black, .orientation-sente .gote.promotedsilver, .spare-top .gote.promotedsilver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NG-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.g-piece.black, .shogi .pocket.top piece.g-piece.black, .orientation-sente .gote.gold, .spare-top .gote.gold {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KI-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.k-piece.black, .shogi .pocket.top piece.k-piece.black, .dobutsu .orientation-white.cg-wrap piece.l-piece.black, .dobutsu .pocket.top piece.l-piece.black, .orientation-sente .gote.king, .spare-top .gote.king {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.p-piece.white, .shogi .pocket.bottom piece.p-piece.white, .dobutsu .orientation-white.cg-wrap piece.c-piece.white, .dobutsu .pocket.bottom piece.c-piece.white, .orientation-sente .sente.pawn, .spare-bottom .sente.pawn {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0FU-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pp-piece.white, .shogi .pocket.bottom piece.pp-piece.white, .dobutsu .orientation-white.cg-wrap piece.pc-piece.white, .dobutsu .pocket.bottom piece.pc-piece.white, .orientation-sente .sente.okin, .spare-bottom .sente.tokin {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0TO-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.b-piece.white, .shogi .pocket.bottom piece.b-piece.white, .orientation-sente .sente.bishop, .spare-bottom .sente.bishop {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-dark.svg') !important;
}
.dobutsu .orientation-white.cg-wrap piece.e-piece.white, .dobutsu .pocket.bottom piece.e-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-dobutsu-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pb-piece.white, .shogi .pocket.bottom piece.pb-piece.white, .orientation-sente .sente.horse, .spare-bottom .sente.horse {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0UM-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.n-piece.white, .shogi .pocket.bottom piece.n-piece.white, .orientation-sente .sente.knight, .spare-bottom .sente.knight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KE-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pn-piece.white, .shogi .pocket.bottom piece.pn-piece.white, .orientation-sente .sente.promotedknight, .spare-bottom .sente.promotedknight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NK-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.r-piece.white, .shogi .pocket.bottom piece.r-piece.white, .orientation-sente .sente.rook, .spare-bottom .sente.rook {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-dark.svg') !important;
}
.dobutsu .orientation-white.cg-wrap piece.g-piece.white, .dobutsu .pocket.bottom piece.g-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-dobutsu-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pr-piece.white, .shogi .pocket.bottom piece.pr-piece.white, .orientation-sente .sente.dragon, .spare-bottom .sente.dragon {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0RY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.l-piece.white, .shogi .pocket.bottom piece.l-piece.white, .orientation-sente .sente.lance, .spare-bottom .sente.lance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pl-piece.white, .shogi .pocket.bottom piece.pl-piece.white, .orientation-sente .sente.promotedlance, .spare-bottom .sente.promotedlance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.s-piece.white, .shogi .pocket.bottom piece.s-piece.white, .orientation-sente .sente.silver, .spare-bottom .sente.silver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0GI-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.ps-piece.white, .shogi .pocket.bottom piece.ps-piece.white, .orientation-sente .sente.promotedsilver, .spare-bottom .sente.promotedsilver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NG-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.g-piece.white, .shogi .pocket.bottom piece.g-piece.white, .orientation-sente .sente.gold, .spare-bottom .sente.gold {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KI-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.k-piece.white, .shogi .pocket.bottom piece.k-piece.white, .dobutsu .orientation-white.cg-wrap piece.l-piece.white, .dobutsu .pocket.bottom piece.l-piece.white, .orientation-sente .sente.king, .spare-bottom .sente.king {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0OU-dark.svg') !important;
}


.shogi .orientation-black.cg-wrap piece.p-piece.white, .shogi .pocket.top piece.p-piece.white, .dobutsu .orientation-black.cg-wrap piece.c-piece.white, .dobutsu .pocket.top piece.c-piece.white, .orientation-gote .sente.pawn, .spare-top .sente.pawn {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1FU-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pp-piece.white, .shogi .pocket.top piece.pp-piece.white, .dobutsu .orientation-black.cg-wrap piece.pc-piece.white, .dobutsu .pocket.top piece.pc-piece.white, .orientation-gote .sente.tokin, .spare-top .sente.tokin {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1TO-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.b-piece.white, .shogi .pocket.top piece.b-piece.white, .orientation-gote .sente.bishop, .spare-top .sente.bishop {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-dark.svg') !important;
}
.dobutsu .orientation-black.cg-wrap piece.e-piece.white, .dobutsu .pocket.top piece.e-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-dobutsu-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pb-piece.white, .shogi .pocket.top piece.pb-piece.white, .orientation-gote .sente.horse, .spare-top .sente.horse {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1UM-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.n-piece.white, .shogi .pocket.top piece.n-piece.white, .orientation-gote .sente.knight, .spare-top .sente.knight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KE-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pn-piece.white, .shogi .pocket.top piece.pn-piece.white, .orientation-gote .sente.promotedknight, .spare-top .sente.promotedknight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NK-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.r-piece.white, .shogi .pocket.top piece.r-piece.white, .orientation-gote .sente.rook, .spare-top .sente.rook {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-dark.svg') !important;
}
.dobutsu .orientation-black.cg-wrap piece.g-piece.white, .dobutsu .pocket.top piece.g-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-dobutsu-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pr-piece.white, .shogi .pocket.top piece.pr-piece.white, .orientation-gote .sente.dragon, .spare-top .sente.dragon {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1RY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.l-piece.white, .shogi .pocket.top piece.l-piece.white, .orientation-gote .sente.lance, .spare-top .sente.lance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pl-piece.white, .shogi .pocket.top piece.pl-piece.white, .orientation-gote .sente.promotedlance, .spare-top .sente.promotedlance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.s-piece.white, .shogi .pocket.top piece.s-piece.white, .orientation-gote .sente.silver, .spare-top .sente.silver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GI-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.ps-piece.white, .shogi .pocket.top piece.ps-piece.white, .orientation-gote .sente.promotedsilver, .spare-top .sente.promotedsilver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NG-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.g-piece.white, .shogi .pocket.top piece.g-piece.white, .orientation-gote .sente.gold, .spare-top .sente.gold {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KI-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.k-piece.white, .shogi .pocket.top piece.k-piece.white, .dobutsu .orientation-black.cg-wrap piece.l-piece.white, .dobutsu .pocket.top piece.l-piece.white, .orientation-gote .sente.king, .spare-top .sente.king {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.p-piece.black, .shogi .pocket.bottom piece.p-piece.black, .dobutsu .orientation-black.cg-wrap piece.c-piece.black, .dobutsu .pocket.bottom piece.c-piece.black, .orientation-gote .gote.pawn, .spare-bottom .gote.pawn {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0FU-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pp-piece.black, .shogi .pocket.bottom piece.pp-piece.black, .dobutsu .orientation-black.cg-wrap piece.pc-piece.black, .dobutsu .pocket.bottom piece.pc-piece.black, .orientation-gote .gote.tokin, .spare-bottom .gote.tokin {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0TO-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.b-piece.black, .shogi .pocket.bottom piece.b-piece.black, .orientation-gote .gote.bishop, .spare-bottom .gote.bishop {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-bright.svg') !important;
}
.dobutsu .orientation-black.cg-wrap piece.e-piece.black, .dobutsu .pocket.bottom piece.e-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-dobutsu-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pb-piece.black, .shogi .pocket.bottom piece.pb-piece.black, .orientation-gote .gote.horse, .spare-bottom .gote.horse {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0UM-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.n-piece.black, .shogi .pocket.bottom piece.n-piece.black, .orientation-gote .gote.knight, .spare-bottom .gote.knight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KE-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pn-piece.black, .shogi .pocket.bottom piece.pn-piece.black, .orientation-gote .gote.promotedknight, .spare-bottom .gote.promotedknight {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NK-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.r-piece.black, .shogi .pocket.bottom piece.r-piece.black, .orientation-gote .gote.rook, .spare-bottom .gote.rook {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-bright.svg') !important;
}
.dobutsu .orientation-black.cg-wrap piece.g-piece.black, .dobutsu .pocket.bottom piece.g-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-dobutsu-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pr-piece.black, .shogi .pocket.bottom piece.pr-piece.black, .orientation-gote .gote.dragon, .spare-bottom .gote.dragon {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0RY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.l-piece.black, .shogi .pocket.bottom piece.l-piece.black, .orientation-gote .gote.lance, .spare-bottom .gote.lance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pl-piece.black, .shogi .pocket.bottom piece.pl-piece.black, .orientation-gote .gote.promotedlance, .spare-bottom .gote.promotedlance {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.s-piece.black, .shogi .pocket.bottom piece.s-piece.black, .orientation-gote .gote.silver, .spare-bottom .gote.silver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0GI-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.ps-piece.black, .shogi .pocket.bottom piece.ps-piece.black, .orientation-gote .gote.promotedsilver, .spare-bottom .gote.promotedsilver {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NG-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.g-piece.black, .shogi .pocket.bottom piece.g-piece.black, .orientation-gote .gote.gold, .spare-bottom .gote.gold {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KI-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.k-piece.black, .shogi .pocket.bottom piece.k-piece.black, .dobutsu .orientation-black.cg-wrap piece.l-piece.black, .dobutsu .pocket.bottom piece.l-piece.black, .orientation-gote .gote.king, .spare-bottom .gote.king {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0OU-bright.svg') !important;
}
/*dobutsu*/


/*kyoto*/
.kyoto .cg-wrap.orientation-white piece.p-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.pawn.sente, .kyoto .pocket.bottom .p-piece.white, body .variant-kyotoshogi .spare-bottom .pawn.sente, body .variant-kyotoshogi .hand-bottom .pawn.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0FU-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pp-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.rook.sente, .kyoto .pocket.bottom piece.pp-piece.white, body .variant-kyotoshogi .spare-bottom piece.rook.sente, body .variant-kyotoshogi .hand-bottom piece.rook.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0HI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.n-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.knight.sente, .kyoto .pocket.bottom piece.n-piece.white, body .variant-kyotoshogi .spare-bottom piece.knight.sente, body .variant-kyotoshogi .hand-bottom piece.knight.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KE-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pn-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.gold.sente, .kyoto .pocket.bottom piece.pn-piece.white, body .variant-kyotoshogi .spare-bottom piece.gold.sente, body .variant-kyotoshogi .hand-bottom piece.gold.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.l-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.lance.sente, .kyoto .pocket.bottom piece.l-piece.white, body .variant-kyotoshogi .spare-bottom piece.lance.sente, body .variant-kyotoshogi .hand-bottom piece.lance.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pl-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.tokin.sente, .kyoto .pocket.bottom piece.pl-piece.white, body .variant-kyotoshogi .spare-bottom piece.tokin.sente, body .variant-kyotoshogi .hand-bottom piece.tokin.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0TO-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.s-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.silver.sente, .kyoto .pocket.bottom piece.s-piece.white, body .variant-kyotoshogi .spare-bottom piece.silver.sente, body .variant-kyotoshogi .hand-bottom piece.silver.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.ps-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.bishop.sente, .kyoto .pocket.bottom piece.ps-piece.white, body .variant-kyotoshogi .spare-bottom piece.bishop.sente, body .variant-kyotoshogi .hand-bottom piece.bishop.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KA-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.k-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.king.sente, .kyoto .pocket.bottom piece.k-piece.white, body .variant-kyotoshogi .spare-bottom piece.king.sente, body .variant-kyotoshogi .hand-bottom piece.king.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.p-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.pawn.gote, .kyoto .pocket.top piece.p-piece.black, body .variant-kyotoshogi .spare-top piece.pawn.gote, body .variant-kyotoshogi .hand-top piece.pawn.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1FU-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pp-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.rook.gote, .kyoto .pocket.top piece.pp-piece.black, body .variant-kyotoshogi .spare-top piece.rook.gote, body .variant-kyotoshogi .hand-top piece.rook.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1HI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.n-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.knight.gote, .kyoto .pocket.top piece.n-piece.black, body .variant-kyotoshogi .spare-top piece.knight.gote, body .variant-kyotoshogi .hand-top piece.knight.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KE-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pn-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.gold.gote, .kyoto .pocket.top piece.pn-piece.black, body .variant-kyotoshogi .spare-top piece.gold.gote, body .variant-kyotoshogi .hand-top piece.gold.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.l-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.lance.gote, .kyoto .pocket.top piece.l-piece.black, body .variant-kyotoshogi .spare-top piece.lance.gote, body .variant-kyotoshogi .hand-top piece.lance.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pl-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.tokin.gote, .kyoto .pocket.top piece.pl-piece.black, body .variant-kyotoshogi .spare-top piece.tokin.gote, body .variant-kyotoshogi .hand-top piece.tokin.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1TO-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.s-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.silver.gote, .kyoto .pocket.top piece.s-piece.black, body .variant-kyotoshogi .spare-top piece.silver.gote, body .variant-kyotoshogi .hand-top piece.silver.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.ps-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.bishop.gote, .kyoto .pocket.top piece.ps-piece.black, body .variant-kyotoshogi .spare-top piece.bishop.gote, body .variant-kyotoshogi .hand-top piece.bishop.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KA-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.k-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-sente piece.king.gote, .kyoto .pocket.top piece.k-piece.black, body .variant-kyotoshogi .spare-top piece.king.gote, body .variant-kyotoshogi .hand-top piece.king.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GY-bright.svg') !important;
}

.kyoto .cg-wrap.orientation-black piece.p-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.pawn.gote, .kyoto .pocket.bottom piece.p-piece.black, body .variant-kyotoshogi .spare-bottom piece.pawn.gote, body .variant-kyotoshogi .hand-bottom piece.pawn.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0FU-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pp-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.rook.gote, .kyoto .pocket.bottom piece.pp-piece.black, body .variant-kyotoshogi .spare-bottom piece.rook.gote, body .variant-kyotoshogi .hand-bottom piece.rook.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0HI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.n-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.knight.gote, .kyoto .pocket.bottom piece.n-piece.black, body .variant-kyotoshogi .spare-bottom piece.knight.gote, body .variant-kyotoshogi .hand-bottom piece.knight.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KE-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pn-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.gold.gote, .kyoto .pocket.bottom piece.pn-piece.black, body .variant-kyotoshogi .spare-bottom piece.gold.gote, body .variant-kyotoshogi .hand-bottom piece.gold.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.l-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.lance.gote, .kyoto .pocket.bottom piece.l-piece.black, body .variant-kyotoshogi .spare-bottom piece.lance.gote, body .variant-kyotoshogi .hand-bottom piece.lance.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pl-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.tokin.gote, .kyoto .pocket.bottom piece.pl-piece.black, body .variant-kyotoshogi .spare-bottom piece.tokin.gote, body .variant-kyotoshogi .hand-bottom piece.tokin.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0TO-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.s-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.silver.gote, .kyoto .pocket.bottom piece.s-piece.black, body .variant-kyotoshogi .spare-bottom piece.silver.gote, body .variant-kyotoshogi .hand-bottom piece.silver.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.ps-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.bishop.gote, .kyoto .pocket.bottom piece.ps-piece.black, body .variant-kyotoshogi .spare-bottom piece.bishop.gote, body .variant-kyotoshogi .hand-bottom piece.bishop.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KA-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.k-piece.black, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.king.gote, .kyoto .pocket.bottom piece.k-piece.black, body .variant-kyotoshogi .spare-bottom piece.king.gote, body .variant-kyotoshogi .hand-bottom piece.king.gote{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.p-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.pawn.sente, .kyoto .pocket.top piece.p-piece.white, body .variant-kyotoshogi .spare-top piece.pawn.sente, body .variant-kyotoshogi .hand-top piece.pawn.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1FU-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pp-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.rook.sente, .kyoto .pocket.top piece.pp-piece.white, body .variant-kyotoshogi .spare-top piece.rook.sente, body .variant-kyotoshogi .hand-top piece.rook.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1HI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.n-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.knight.sente, .kyoto .pocket.top piece.n-piece.white, body .variant-kyotoshogi .spare-top piece.knight.sente, body .variant-kyotoshogi .hand-top piece.knight.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KE-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pn-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.gold.sente, .kyoto .pocket.top piece.pn-piece.white, body .variant-kyotoshogi .spare-top piece.gold.sente, body .variant-kyotoshogi .hand-top piece.gold.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.l-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.lance.sente, .kyoto .pocket.top piece.l-piece.white, body .variant-kyotoshogi .spare-top piece.lance.sente, body .variant-kyotoshogi .hand-top piece.lance.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pl-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.tokin.sente, .kyoto .pocket.top piece.pl-piece.white, body .variant-kyotoshogi .spare-top piece.tokin.sente, body .variant-kyotoshogi .hand-top piece.tokin.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1TO-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.s-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.silver.sente, .kyoto .pocket.top piece.s-piece.white, body .variant-kyotoshogi .spare-top piece.silver.sente, body .variant-kyotoshogi .hand-top piece.silver.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.ps-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.bishop.sente, .kyoto .pocket.top piece.ps-piece.white, body .variant-kyotoshogi .spare-top piece.bishop.sente, body .variant-kyotoshogi .hand-top piece.bishop.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KA-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.k-piece.white, body .variant-kyotoshogi .sg-wrap.orientation-gote piece.king.sente, .kyoto .pocket.top piece.k-piece.white, body .variant-kyotoshogi .spare-top piece.king.sente, body .variant-kyotoshogi .hand-top piece.king.sente{
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GY-dark.svg') !important;
}
/* grand and capa */
.capa mpiece.c-piece, .grand mpiece.c-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/seirawan-elephant.svg') !important;
}
.capa mpiece.a-piece, .grand mpiece.a-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/hawk.svg') !important;
}
.capa .cg-wrap piece.a-piece.white, .grand .cg-wrap piece.a-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wH.svg') !important;
}
.capa .cg-wrap piece.c-piece.white, .grand .cg-wrap piece.c-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wE.svg') !important;
}
.capa .cg-wrap piece.a-piece.black, .grand .cg-wrap piece.a-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bH.svg') !important;
}
.capa .cg-wrap piece.c-piece.black, .grand .cg-wrap piece.c-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bE.svg') !important;
}
/*chak*/
.chak .cg-wrap piece.r-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-rook.svg') !important;
}
.chak .cg-wrap piece.v-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-knight.svg') !important;
}
.chak .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-king.svg') !important;
}
.chak .cg-wrap piece.j-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-kheshig.svg') !important;
}
.chak .cg-wrap piece.r-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-rook.svg') !important;
}
.chak .cg-wrap piece.v-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-knight.svg') !important;
}
.chak .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-king.svg') !important;
}
.chak .cg-wrap piece.j-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-kheshig.svg') !important;
}
.chak mpiece.v-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/knight.svg') !important;
}
.chak mpiece.j-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/kheshig.svg') !important;
}
.chak mpiece.r-piece {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/rook.svg') !important;
}
/*chennis*/

.chennis .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wK.svg') !important;
}
.chennis .cg-wrap piece.p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wPR.svg'); !important;
}
.chennis .cg-wrap piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wRP.svg'); !important;
}
.chennis .cg-wrap piece.m-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wMN.svg'); !important;
}
.chennis .cg-wrap piece.pm-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wNM.svg'); !important;
}
.chennis .cg-wrap piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wSB.svg'); !important;
}
.chennis .cg-wrap piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wBS.svg'); !important;
}
.chennis .cg-wrap piece.f-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wFC.svg'); !important;
}
.chennis .cg-wrap piece.pf-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wCF.svg'); !important;
}

.chennis .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bK.svg') !important;
}
.chennis .cg-wrap piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bPR.svg'); !important;
}
.chennis .cg-wrap piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bRP.svg'); !important;
}
.chennis .cg-wrap piece.m-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bMN.svg'); !important;
}
.chennis .cg-wrap piece.pm-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bNM.svg'); !important;
}
.chennis .cg-wrap piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bSB.svg'); !important;
}
.chennis .cg-wrap piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bBS.svg'); !important;
}
.chennis .cg-wrap piece.f-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bFC.svg'); !important;
}
.chennis .cg-wrap piece.pf-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bCF.svg'); !important;
}
.loa cg-board {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.50/static/images/board/8x8wood2.jpg') !important;
}
body.dark-board {
    --dark-factor: 0;
}
/*duck*/
.standard .cg-wrap piece._-piece {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.9.17/static/images/pieces/duck.svg');
}
/*spartan*/
.spartan .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bK.svg') !important;
}
.spartan .cg-wrap piece.g-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-dragon2.svg') !important;
}
.spartan .cg-wrap piece.w-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bH.svg') !important;
}

