/*shinobi*/
.shinobi .cg-wrap piece.j-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wH.svg') !important;
}
.shinobi .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wK.svg') !important;
}
.shinobi .cg-wrap piece.pm-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wB.svg') !important;
}
.shinobi .cg-wrap piece.pl-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wR.svg') !important;
}
.shinobi .cg-wrap piece.h-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-horsey.svg') !important;
}
.shinobi .cg-wrap piece.d-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-dragon2.svg') !important;
}
.shinobi mpiece.j {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/hawk.svg') !important;
}

/*shogun*/
.shogun .cg-wrap piece.f-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-monk.svg') !important;
}
.shogun .cg-wrap piece.pn-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-kheshig.svg') !important;
}
.shogun .cg-wrap piece.pr-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bE.svg') !important;
}
.shogun .cg-wrap piece.pb-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/bH.svg') !important;
}

.shogun .cg-wrap piece.f-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/shinobi/wM.svg') !important;
}
.shogun .cg-wrap piece.pn-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/orda/merida/wH.svg') !important;
}
.shogun .cg-wrap piece.pr-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wE.svg') !important;
}
.shogun .cg-wrap piece.pb-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/merida/wH.svg') !important;
}
/*hoppel poppel*/
.hoppel .cg-wrap piece.n-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/orda/merida/wA.svg') !important;
}
.hoppel .cg-wrap piece.n-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-archer.svg') !important;
}
.hoppel .cg-wrap piece.b-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/hoppel/animal/wB.svg') !important;
}
.hoppel .cg-wrap piece.b-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/hoppel/animal/bB.svg') !important;
}
.hoppel mpiece.n {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/archer.svg') !important;
}
/*orda*/
.orda .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}

/*synochess*/
.synochess .cg-wrap piece.r-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-rook.svg') !important;
}
.synochess .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-king.svg') !important;
}
.synochess .cg-wrap piece.a-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/red-captain.svg') !important;
}

/*makruk variants*/
.makruk8x8 cg-board {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.50/static/images/board/8x8wood2.jpg') !important;

}
.makruk .cg-wrap piece.s-piece.white, .sittuyin .cg-wrap piece.s-piece.white, .asean .cg-wrap piece.b-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-yurt.svg') !important;
}
.makruk .cg-wrap piece.s-piece.black, .sittuyin .cg-wrap piece.s-piece.black, .asean .cg-wrap piece.b-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-yurt.svg') !important;
}
.makruk .cg-wrap piece.m-piece.white, .makruk .cg-wrap piece.m-piece.promoted.white, .sittuyin .cg-wrap piece.f-piece.white, .asean .cg-wrap piece.q-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.5.2/static/images/pieces/shinobi/wM.svg') !important;
}
.makruk .cg-wrap piece.m-piece.black, .makruk .cg-wrap piece.m-piece.promoted.black, .sittuyin .cg-wrap piece.f-piece.black, .asean .cg-wrap piece.q-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/black-monk.svg') !important;
}

.makruk mpiece.s, .sittuyin mpiece.s, .asean mpiece.b {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/yurt.svg') !important;
}
.makruk mpiece.m, .sittuyin mpiece.f, .asean mpiece.q {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/monk.svg');
}
/*orda mirror*/
.ordamirror .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.15/static/images/pieces/merida/wK.svg') !important;
}
.ordamirror .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}
.ordamirror .cg-wrap piece.f-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/white-eagle.svg') !important;
}
.ordamirror .cg-wrap piece.f-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.15/static/images/pieces/empire/wE.svg') !important;
}
/*empire*/
.empire .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/gold-king.svg') !important;
}
/*shogi*/
.shogi .orientation-white.cg-wrap piece.p-piece.black, .shogi .pocket.top piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1FU-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pp-piece.black, .shogi .pocket.top piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1TO-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.b-piece.black, .shogi .pocket.top piece.b-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pb-piece.black, .shogi .pocket.top piece.pb-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1UM-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.n-piece.black, .shogi .pocket.top piece.n-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KE-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pn-piece.black, .shogi .pocket.top piece.pn-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NK-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.r-piece.black, .shogi .pocket.top piece.r-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pr-piece.black, .shogi .pocket.top piece.pr-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1RY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.l-piece.black, .shogi .pocket.top piece.l-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pl-piece.black, .shogi .pocket.top piece.pl-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.s-piece.black, .shogi .pocket.top piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GI-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.ps-piece.black, .shogi .pocket.top piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NG-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.g-piece.black, .shogi .pocket.top piece.g-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KI-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.k-piece.black, .shogi .pocket.top piece.k-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GY-bright.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.p-piece.white, .shogi .pocket.bottom piece.p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0FU-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pp-piece.white, .shogi .pocket.bottom piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0TO-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.b-piece.white, .shogi .pocket.bottom piece.b-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pb-piece.white, .shogi .pocket.bottom piece.pb-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0UM-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.n-piece.white, .shogi .pocket.bottom piece.n-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KE-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pn-piece.white, .shogi .pocket.bottom piece.pn-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NK-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.r-piece.white, .shogi .pocket.bottom piece.r-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pr-piece.white, .shogi .pocket.bottom piece.pr-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0RY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.l-piece.white, .shogi .pocket.bottom piece.l-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.pl-piece.white, .shogi .pocket.bottom piece.pl-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NY-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.s-piece.white, .shogi .pocket.bottom piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0GI-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.ps-piece.white, .shogi .pocket.bottom piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NG-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.g-piece.white, .shogi .pocket.bottom piece.g-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KI-dark.svg') !important;
}
.shogi .orientation-white.cg-wrap piece.k-piece.white, .shogi .pocket.bottom piece.k-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0OU-dark.svg') !important;
}


.shogi .orientation-black.cg-wrap piece.p-piece.white, .shogi .pocket.top piece.p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1FU-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pp-piece.white, .shogi .pocket.top piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1TO-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.b-piece.white, .shogi .pocket.top piece.b-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KA-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pb-piece.white, .shogi .pocket.top piece.pb-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1UM-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.n-piece.white, .shogi .pocket.top piece.n-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KE-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pn-piece.white, .shogi .pocket.top piece.pn-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NK-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.r-piece.white, .shogi .pocket.top piece.r-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1HI-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pr-piece.white, .shogi .pocket.top piece.pr-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1RY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.l-piece.white, .shogi .pocket.top piece.l-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pl-piece.white, .shogi .pocket.top piece.pl-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.s-piece.white, .shogi .pocket.top piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GI-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.ps-piece.white, .shogi .pocket.top piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1NG-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.g-piece.white, .shogi .pocket.top piece.g-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1KI-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.k-piece.white, .shogi .pocket.top piece.k-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/1GY-dark.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.p-piece.black, .shogi .pocket.bottom piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0FU-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pp-piece.black, .shogi .pocket.bottom piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0TO-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.b-piece.black, .shogi .pocket.bottom piece.b-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KA-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pb-piece.black, .shogi .pocket.bottom piece.pb-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0UM-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.n-piece.black, .shogi .pocket.bottom piece.n-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KE-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pn-piece.black, .shogi .pocket.bottom piece.pn-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NK-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.r-piece.black, .shogi .pocket.bottom piece.r-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0HI-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pr-piece.black, .shogi .pocket.bottom piece.pr-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0RY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.l-piece.black, .shogi .pocket.bottom piece.l-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.pl-piece.black, .shogi .pocket.bottom piece.pl-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NY-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.s-piece.black, .shogi .pocket.bottom piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0GI-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.ps-piece.black, .shogi .pocket.bottom piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0NG-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.g-piece.black, .shogi .pocket.bottom piece.g-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0KI-bright.svg') !important;
}
.shogi .orientation-black.cg-wrap piece.k-piece.black, .shogi .pocket.bottom piece.k-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/shogi/0OU-bright.svg') !important;
}


/*kyoto*/
.kyoto .cg-wrap.orientation-white piece.p-piece.white, .kyoto .pocket.bottom .p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0FU-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pp-piece.white, .kyoto .pocket.bottom piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0HI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.n-piece.white, .kyoto .pocket.bottom piece.n-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KE-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pn-piece.white, .kyoto .pocket.bottom piece.pn-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.l-piece.white, .kyoto .pocket.bottom piece.l-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pl-piece.white, .kyoto .pocket.bottom piece.pl-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0TO-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.s-piece.white, .kyoto .pocket.bottom piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.ps-piece.white, .kyoto .pocket.bottom piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KA-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.k-piece.white, .kyoto .pocket.bottom piece.k-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.p-piece.black, .kyoto .pocket.top piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1FU-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pp-piece.black, .kyoto .pocket.top piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1HI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.n-piece.black, .kyoto .pocket.top piece.n-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KE-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pn-piece.black, .kyoto .pocket.top piece.pn-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.l-piece.black, .kyoto .pocket.top piece.l-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.pl-piece.black, .kyoto .pocket.top piece.pl-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1TO-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.s-piece.black, .kyoto .pocket.top piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.ps-piece.black, .kyoto .pocket.top piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KA-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-white piece.k-piece.black, .kyoto .pocket.top piece.k-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GY-bright.svg') !important;
}

.kyoto .cg-wrap.orientation-black piece.p-piece.black, .kyoto .pocket.bottom piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0FU-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pp-piece.black, .kyoto .pocket.bottom piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0HI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.n-piece.black, .kyoto .pocket.bottom piece.n-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KE-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pn-piece.black, .kyoto .pocket.bottom piece.pn-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.l-piece.black, .kyoto .pocket.bottom piece.l-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pl-piece.black, .kyoto .pocket.bottom piece.pl-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0TO-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.s-piece.black, .kyoto .pocket.bottom piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GI-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.ps-piece.black, .kyoto .pocket.bottom piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0KA-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.k-piece.black, .kyoto .pocket.bottom piece.k-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/0GY-bright.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.p-piece.white, .kyoto .pocket.top piece.p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1FU-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pp-piece.white, .kyoto .pocket.top piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1HI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.n-piece.white, .kyoto .pocket.top piece.n-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KE-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pn-piece.white, .kyoto .pocket.top piece.pn-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.l-piece.white, .kyoto .pocket.top piece.l-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KY-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.pl-piece.white, .kyoto .pocket.top piece.pl-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1TO-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.s-piece.white, .kyoto .pocket.top piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GI-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.ps-piece.white, .kyoto .pocket.top piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1KA-dark.svg') !important;
}
.kyoto .cg-wrap.orientation-black piece.k-piece.white, .kyoto .pocket.top piece.k-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/kyoto/1GY-dark.svg') !important;
}
/* grand and capa */
.capa mpiece.c, .grand mpiece.c {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/seirawan-elephant.svg') !important;
}
.capa mpiece.a, .grand mpiece.a {
    background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/hawk.svg') !important;
}
/*chak*/
.chak .cg-wrap piece.r-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-rook.svg') !important;
}
.chak .cg-wrap piece.v-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-knight.svg') !important;
}
.chak .cg-wrap piece.k-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-king.svg') !important;
}
.chak .cg-wrap piece.j-piece.black {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/green-kheshig.svg') !important;
}
.chak .cg-wrap piece.r-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-rook.svg') !important;
}
.chak .cg-wrap piece.v-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-knight.svg') !important;
}
.chak .cg-wrap piece.k-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-king.svg') !important;
}
.chak .cg-wrap piece.j-piece.white {
	background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/beige-kheshig.svg') !important;
}
.chak mpiece.v {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/knight.svg') !important;
}
.chak mpiece.j {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/kheshig.svg') !important;
}
.chak mpiece.r {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@master/static/images/pieces/mono/rook.svg') !important;
}
/*chennis*/

.chennis .cg-wrap piece.p-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wPR.svg');
}
.chennis .cg-wrap piece.pp-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wRP.svg');
}
.chennis .cg-wrap piece.m-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wMN.svg');
}
.chennis .cg-wrap piece.pm-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wNM.svg');
}
.chennis .cg-wrap piece.s-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wSB.svg');
}
.chennis .cg-wrap piece.ps-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wBS.svg');
}
.chennis .cg-wrap piece.f-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wFC.svg');
}
.chennis .cg-wrap piece.pf-piece.white {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/wCF.svg');
}

.chennis .cg-wrap piece.p-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bPR.svg');
}
.chennis .cg-wrap piece.pp-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bRP.svg');
}
.chennis .cg-wrap piece.m-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bMN.svg');
}
.chennis .cg-wrap piece.pm-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bNM.svg');
}
.chennis .cg-wrap piece.s-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bSB.svg');
}
.chennis .cg-wrap piece.ps-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bBS.svg');
}
.chennis .cg-wrap piece.f-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bFC.svg');
}
.chennis .cg-wrap piece.pf-piece.black {
    background-image: url('https://cdn.jsdelivr.net/gh/kezsulap/pychess-pieceset@master/static/SIeeO/chennis1/bCF.svg');
}
.loa cg-board {
	background-image: url('https://cdn.jsdelivr.net/gh/gbtami/pychess-variants@1.6.50/static/images/board/8x8wood2.jpg') !important;
}
